@page "/booklist"
@inject IBookService BookService

@if (Books == null)
{
    <h3> Loading books .... </h3>
}
else
{
    <h3 class="mb-5">Books</h3>

    var bookCount = Books.Count();

    if (bookCount > 0)
    {
        var bookRowList = new List<Book>();
        bookRowList = Books.ToList();
      
        <table class="table">
            <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
           
            @foreach (var item in bookRowList)
            {
                <tr>
                    <td>@item.BookName</td>
                    <td>@item.Author</td>
                    <td>@item.Category</td>
                    <td>@item.Price</td>
                </tr>
            }
            </tbody>
        </table>
    }
}

@code {
    // Property to expose book collection to razor code 
    public IEnumerable<Book> Books { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Books = await BookService.GetBooks();
    }
    
}

